inception {
    background-color: black;
    color: white;
    font-family: Arial, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 2px;
    font-size: 11px;
    margin: 0 5px 5px 0;
    cursor: pointer;
    transition: all .25s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

inception:hover {
    background-color: lightseagreen;
}